.home {
  background-color: #fff;
}
.icon {
  opacity: 0.5;
  position: absolute;
  //   align-self: center;
  //   top: -1;
  left: 3px;
  top: 6px;
}
.img-shop {
  border-radius: 18px;
  height: 100px;
}
.item-shop {
  width: 100%;
}
